body{
  margin: none;
}
.siteHeader{
  font-size: xx-large;
  margin: auto;
  text-align: center;
  color: darkblue;
  margin-bottom: 2%;
}

.template{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.basic {
  display: flex;
  flex-direction: column;
}
.nameHeader > input {
  border: none;
  text-align: right;
  font-weight: bolder;
  font-size: larger;
}
.nameHeader {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
}

.noBorder{
  border:none;
  outline: none;
}

.basicInfo {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.basicInfo > input{
  border: none;
  text-align: right;
  width: 30%;
  border:none;
  outline: none;
}

.modular {
  display: flex;
  margin-top: 3%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid red;
  flex-direction: column;
}
.suggestMe {
  color: red;
  cursor: pointer;
}
.textarea{
  border: inherit;
  border:none;
  outline: none;
  resize: vertical;
}

.covering {
  display: flex;
  flex-direction: column;
}
.fieldheading {
  border: 1px solid black;
  color: white;
  background-color: grey;
  font-weight: bolder;
  padding-left: 4px;
  margin-top: 2%;
  margin-bottom: 1%;
}
.fieldheading >textarea {
  padding: 5px;
}
.table {
  justify-content: center;
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
  width: inherit;
}
td, th{
  border-left: 1px solid black;
  text-align: center;
  max-width: 5%;
}
td:first-of-type, th:first-of-type {
  border-left: none;
}
tr, th{
  border-bottom: 1px solid black;
}
.admorerow{
  transition: all 2s ease-in 2s;
}
.admorerow > td > input {
  border: none;
  text-align: center;
  outline: none;
  width: max-content;
}
